$body-font-family: 'Vegur', 'PT Sans', Verdana, sans-serif;
$heading-font-family: 'Futura', sans-serif;

$headings: (
  'h4': (
    'weight': 900
  ),
  'h5': (
    'weight': 700
  ),
  'h6': (
    'size': 1rem,
    'weight': 700
  ),
 'subtitle-1': (
  font-weight: 400
 ),
 'subtitle-2': (
  //font-weight: 400
 ),
  'body-1': (
    'size': .9375rem,
  )
);

$material-dark: (
  'app-bar': #0B1C3D,
  'cards': #212121,
  'tabs': #FFFFFF
);

$material-light: (
  'app-bar': #FFFFFF,
  'cards': #FAFAFA
);
